@import '../../styles/variables.less';

#container {
    text-align: center;
    // border: 4px solid @accentdark2;
    max-width: fit-content;
    padding: 25px;
    margin: auto;
    margin-top: 5em;
    max-width: 30em;


    .name {
        font-size: 4em;
        margin: 0em;
        font-family: Libre Basketville;
    }

}