.button {
  opacity: 0;
  position: absolute;
  bottom: 10vh;
  left: 50vw;
  font-size: 2em;
  animation: textRevealUp 5s forwards;
}
#container {
  font-size: larger;
  margin-left: 10vw;
  padding-right: 5em;
  scroll-snap-align: center;
  color: #F7EBEC;
  text-shadow: none;
  text-align: left;
  max-width: fit-content;
  border-bottom-right-radius: 1em;
  padding: 25px;
  padding-top: 25vh;
  max-width: 30em;
}
#container .greeting {
  animation: textRevealUp 2s;
}
#container .greeting .waving {
  animation: spinny 2.5s;
  animation-iteration-count: infinite;
  padding: 50px;
}
#container .socials {
  padding-left: 0.4em;
  opacity: 0;
  animation: textRevealDown 2s forwards;
  animation-delay: 5s;
}
#container #textContainer {
  animation: textRevealLeft 2s forwards;
  opacity: 0;
  animation-delay: 1s;
}
#container #textContainer .title {
  padding-left: 0.4em;
  opacity: 0;
  animation: textRevealDown 2s forwards;
  animation-delay: 3s;
}
#container #textContainer .name {
  font-size: 4em;
  margin: 0em;
  font-family: Libre Basketville;
}
@keyframes spinny {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes textRevealDown {
  from {
    opacity: 0;
    transform: translatey(-100%);
  }
  to {
    opacity: 1;
    transform: translatey(0%);
  }
}
@keyframes textRevealUp {
  from {
    opacity: 0;
    transform: translatey(100%);
  }
  to {
    opacity: 1;
    transform: translatey(0%);
  }
}
@keyframes textRevealLeft {
  from {
    opacity: 0.5;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
