#container {
  text-align: center;
  max-width: fit-content;
  padding: 25px;
  margin: auto;
  margin-top: 5em;
  max-width: 30em;
}
#container .name {
  font-size: 4em;
  margin: 0em;
  font-family: Libre Basketville;
}
