@import '../../styles/variables.less';

.container {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 20em;
    padding-bottom: 2em;


    .text {
        font-size: small;
        margin-bottom: 0px;
        margin-top: 1em;
        padding-bottom: 0.3em;
    }


    #dummyframe {
        display: none;
    }

    input, textarea {
        background-color: @text;
        color: @background;
        border: none;
        border-radius: 5px;
        font-family: FiraCode;
        font-size: 0.8em;
        padding:0.3em;
    }

    

    .hint {
        font-size: 0.65em;
        color:gray;
    }



    #emailInput {
        width: 75%;

    }

    #nameInput {
        width: 75%;
    }

    #messageInput {
        width: 100%;

    }


    .button {
        padding-top: 1em;
    }
}