.container {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 20em;
  padding-bottom: 2em;
  height: 24em;
  transition: 250ms;
}
.container .text {
  font-size: small;
  margin-bottom: 0px;
  margin-top: 1em;
  padding-bottom: 0.3em;
}
.container #dummyframe {
  display: none;
}
.container input,
.container textarea {
  background-color: #F7EBEC;
  color: #121619;
  border: none;
  border-radius: 5px;
  font-family: FiraCode;
  font-size: 0.8em;
  padding: 0.3em;
}
.container .submitButton {
  text-decoration: none;
  border: none;
  background: transparent;
  color: #F7EBEC;
  font-size: 1.2em;
}
.container .submitButton:hover .sendIcon {
  transition: 500ms;
  transform: rotate(30deg);
}
.container .submitButton:active .sendIcon {
  animation: launch 1s forwards;
}
.container .sendIcon {
  transition: 500ms;
}
.container .hint {
  font-size: 0.65em;
  color: gray;
}
.container #emailInput {
  width: 75%;
}
.container #nameInput {
  width: 75%;
}
.container #messageInput {
  width: 100%;
}
.container .button {
  padding-top: 1em;
}
