.container {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 20em;
  padding-bottom: 2em;
}
.container .text {
  font-size: small;
  margin-bottom: 0px;
  margin-top: 1em;
  padding-bottom: 0.3em;
}
.container #dummyframe {
  display: none;
}
.container input,
.container textarea {
  background-color: #F7EBEC;
  color: #121619;
  border: none;
  border-radius: 5px;
  font-family: FiraCode;
  font-size: 0.8em;
  padding: 0.3em;
}
.container .hint {
  font-size: 0.65em;
  color: gray;
}
.container #emailInput {
  width: 75%;
}
.container #nameInput {
  width: 75%;
}
.container #messageInput {
  width: 100%;
}
.container .button {
  padding-top: 1em;
}
