.container {
  height: 60vh;
  margin-bottom: 5vh;
}
@keyframes textRevealDown {
  from {
    opacity: 0;
    transform: translatey(-100%);
  }
  to {
    opacity: 1;
    transform: translatey(0%);
  }
}
