.container {
  text-align: left;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-bottom: 5em;
  perspective: 800px;
}
.container .content {
  display: inline-block;
  text-align: left;
}
.container .content h1 {
  text-align: left;
  font-family: Libre Basketville;
  font-size: 2em;
  padding-left: 0.4em;
  border-left: 5px solid #297373;
}
.container .content .projectsContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3em;
  row-gap: 3em;
}
