.container {
  padding-right: 1em;
  margin-top: 3em;
  padding-top: 4em;
  display: flex;
  justify-content: space-evenly;
  background-color: #090b0c;
}
@media (max-width: 680px) {
  .container {
    flex-direction: column;
  }
  .container .text {
    max-width: 100%;
  }
  .container .text p {
    max-width: 100%;
  }
}
.container .text {
  margin-left: 10vw;
}
