.container {
  text-align: center;
  margin: auto;
  margin-top: 1em;
  max-width: 80vw;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (min-width: 50em) {
  .container {
    max-width: 30em;
  }
}
.text {
  display: inline-block;
  text-align: left;
}
