.container {
  text-align: left;
  opacity: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 15vh;
  top: 60vh;
  right: 5em;
  animation: textRevealDown 3s forwards;
  animation-delay: 3s;
}
@keyframes textRevealDown {
  from {
    opacity: 0;
    transform: translatey(0%);
  }
  to {
    opacity: 1;
    transform: translatey(-100%);
  }
}
