@import "./variables.less"; 

@font-face {
    font-family: FiraCode;
    src: url("./fonts/FiraCode-VF.ttf");
}

@font-face {
    font-family: Libre Basketville;
    src: url("./fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
    font-family: Devicon;
    src: url("./fonts/devicon.woff");
}

body {
    overflow-y: hidden;
    font-family: FiraCode;
    background-color: @background;
    color:@text;
    margin: 0px;
}



#mainContainer{
    height:100vh;
    overflow-y: scroll;
  }