@import "./variables.less"; 

@font-face {
    font-family: FiraCode;
    src: url("./fonts/FiraCode-VF.ttf");
}

@font-face {
    font-family: Libre Basketville;
    src: url("./fonts/LibreBaskerville-Regular.ttf");
}

body {
    font-family: FiraCode;
    text-shadow: 1px 2px black;
    background-color: @background;
    color:@text
}
