@font-face {
  font-family: FiraCode;
  src: url("fonts/FiraCode-VF.ttf");
}
@font-face {
  font-family: Libre Basketville;
  src: url("fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: Devicon;
  src: url("fonts/devicon.woff");
}
body {
  font-family: FiraCode;
  background-color: #121619;
  color: #F7EBEC;
  margin: 0px;
}
#mainContainer {
  height: 100vh;
  perspective: 10px;
  transform-style: preserve-3d;
  overflow-y: auto;
  overflow-x: hidden;
}
